<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="text/html; UTF-8">
    <title>Welcome</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="row"><div class="col-md-12 text-center"><h3>Something went wrong.</h3></div></div>
        </div>
    </div>
</div>
</body>
</html>